
<div id="skills">
  <ngx-slick class="carousel" *ngIf="!showItems" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="slickChange($event)">
    <div ngxSlickItem class="item" style="background-image: url('../../assets/webdev.svg')">
      <h1>UX/UI Design</h1>
      <div class="view" (click)="showItems = true; 
          webDev = false; webDesign = true; title='Skills / UXUI'; animateList('webdesign');">
        <div class="inner">
        </div>
      </div>
    </div>
    <div ngxSlickItem class="item" style="background-image: url('../../assets/flask.svg')">
      <h1>Web Development</h1>
      <div (click)="webDev = true; webDesign = false; showItems = true; title='Skills / Web Dev'; animateList('webdev');" class="view">
        <div class="inner">
        </div>
      </div>
    </div>
  </ngx-slick>
  <div *ngIf="webDev">
    <img (click)="webDev = false; webDesign = false; showItems = false; title='Skills';" class="close" src="../../assets/close.svg">
    <div *ngFor='let skill of webDevList'>
      <div class="skill">
        <h3>{{skill.title}}</h3>
        <div class="bar">
          <div [ngStyle]="{
            'width.%': skill.exp,
            'transition.s': skill.speed
            }"
            class="bar-inner">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="webDesign">
      <img (click)="webDev = false; webDesign = false; showItems = false; title='Skills';" class="close" src="../../assets/close.svg">

    <div *ngFor='let skill of webDesignList'>
      <div class="skill">
        <h3>{{skill.title}}</h3>
        <div class="bar">
          <div [ngStyle]="{
            'width.%': skill.exp,
            'transition.s': skill.speed
            }"
            class="bar-inner">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
