<!--The content below is only a placeholder and can be replaced.-->
<div id="app-canvas">
  <!-- <img class="profileimg" src="../assets/burger.svg"> -->
  <div id="app-gauge">
    <div *ngIf="!hideStructure" class="structure">
      <div class="buildings-exp">
        div <sup>.buildings</sup><sub> rotate({{buildingsDeg}}&deg;)</sub>
      </div>
      <div class="gloss-exp">
        div <sup>.app-gloss</sup><sub> rotate(-{{buildingsDeg}}&deg;)</sub>
      </div>
      <div class="route-exp">
        routeroutlet <sup> / {{routeName}}</sup>
      </div>
    </div>

    <div class="buildings">
    </div>
    <div class="scrollbar">
      <div class="scrollbar-inner"></div>
    </div>
    <div [ngClass]="{'noscroll': isIe}" (scroll)="onScroll($event)" id="view-container">
      <div *ngIf="isTitle" class="title-holder">
        <h2>{{title}}</h2>
      </div>
      <router-outlet></router-outlet>
    </div>
    <div class="gauge-bg">

    </div>
    <div class="gauge-inner">
      <div *ngIf="desktop" class="desktop-nav">
        <div [routerLink]="'bio'" (click)="rotateGaugeBg(360, '.5s'); indicate('bio')" [ngClass]="{'bio-active': bio}"
          class="item-top bio">
          <div class="active"></div>
        </div>
        <div [routerLink]="'skills'" (click)="rotateGaugeBg(90, '.5s'); indicate('skills')"
          [ngClass]="{'skills-active': skills}" class="item-right skills">
          <div class="active"></div>
        </div>
        <div [routerLink]="'like'" (click)="rotateGaugeBg(180, '.5s'); indicate('like')"
          [ngClass]="{'like-active': like}" class="item-bottom like">
          <div class="active"></div>
        </div>
        <div [routerLink]="'chat'" (click)="rotateGaugeBg(270, '.5s'); indicate('chat')"
          [ngClass]="{'chat-active': chat}" class="item-left chat">
          <div class="active"></div>
        </div>
      </div>
    </div>
  </div>
</div>
