<div id="bio">
  <h2>
    <img src="assets/reswhite.jpg" />
    Ziv
  </h2>
  <p>
    <span>32</span>, Tel Aviv <br />
    Web <span>Developer</span> / UXUI <span> Designer</span>
  </p>
  <p>
   I find <span> 🦄 ux & design</span> challenges as interesting as <span> 🤖 logical & functional</span> challenges
   my preferred <span>design to code</span> stack is photoshop/illustrator/after effects & angular/firebase with cloud functions.
   I also ❤️ stuff like <span>Audio Mixing</span>, Music Production, Photography, 3D Art & 🌄 Travel (obviously).
  
  </p>
  <p>
    
  </p>
  <!-- <h3>
    Ideator
  </h3>
  <p class="paragraph">
    with time and experience I learnt that although I may not be the classic
    team-leader, I have a solid, proven ability to take an abstract idea and
    construct it into a prototype I believe I can nd the extra dimension in
    every basic idea. I am also able to oversee the entire process and consider
    variables such as budget, design and development issues.
  </p>
  <h3>
    Team Player
  </h3>
  <p class="paragraph">
    I consider myself to be a part of a mechanism and I believe
    in contribution to the team's success and dynamics
    I believe in trust among teammates and I try to constantly build
    their condent in themselves and in me.
  </p> -->

</div>
